.pageBackground {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/mountain-background.png");
  filter: brightness(1.2) contrast(1.2) saturate(1.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 0px;
  z-index: 0;
  margin-top: 0px !important;
}
.zigZagImgContent {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.centerContainer {
  pointer-events: none;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 5vw;
  max-width: 60vw;
  gap: 2rem;
  
}

.contentContainer {
  text-align: left;
}

.headerTitle {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.2;
  margin-top: -20px;
}
.dropdownItem{
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color:#040024
}



.searchInput input {
  width: 300px;
  height: 40px;
  font-size: 1rem;

  margin-left: 25px;
}

.rightsection {
  position: absolute;
  right: 18px;

  display: flex;
  align-items: center;

  padding: 0 8px;
  border-radius: 4px;
}

.right-section i {
  font-size: 20px;
}

.contentSection {
  padding: 100px 5vw;
  z-index: 1;
  position: relative;
}

.resortSectionInside {
   position: relative;
   bottom: 30px;
   left: 5vw;
   right: 5vw;
   z-index: 2;
   margin-top: -300px;
 }

.homeSections {
  margin-top: 80px;
  padding: 60px 5vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), #f5f7fb);
  display: flex;
  flex-direction: column;
  gap: 80px;
  z-index: 1;
  position: relative;
}

.section {
  background: white;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}
.zigZagRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 10px 5vw;
  flex-wrap: wrap;
}

.zigZagRow.reverse {
  flex-direction: row-reverse;
}

.zigZagImage {
  flex: 1;
  max-width: none; /* scoate limitarea */
  display: flex;
  justify-content: center;
}

.zigZagImage img {
  width: 100%;
  max-width: 600px; /* sau 700-800px dacă vrei extra mare */
  height: auto;
  border-radius: 16px; /* opțional pentru estetică */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* opțional */
}
.zigZagRow.reverse .zigZagText {
  padding-right: 40px;
}

.zigZagRow.reverse .zigZagImage {
  padding-left: 40px;
}

.zigZagRow:not(.reverse) .zigZagText {
  padding-left: 10px !important;
}

.zigZagRow:not(.reverse) .zigZagImage {
  padding-right: 80px;
}



.zigZagText {
  flex: 2;
  max-width: 600px;
  color: white;
   padding-left: 40px; /* poți regla această valoare la fix */
  padding-right: 40px;
}

.zigZagText h2 {
  font-size: 2rem;
  margin-bottom: 12px;
}

.zigZagText p {
  font-size: 1.1rem;
  margin-bottom: 16px;
  color: #d0d0d0;
}

.zigZagWrapper {
  background: linear-gradient(to bottom, #133E50, #0a2c38);
}



.sectionTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1e1e1e;
}

.featuresSection {
  padding: 80px 5vw;
  background: linear-gradient(to bottom, #133E50);
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-between;
  align-items: flex-start;
}
.imageFadeOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
 background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #133E50);


  z-index: 1;
}


.linksColumn {
  flex: 1;
  min-width: 300px;
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 30px;
  color: white;
}

.buttonsGrid {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.featureButton {
  background-color: white;
  border: 2px solid #2c6586;
  color: #2c6586;
  font-weight: bold;
  font-size: 1.2rem;
  transition: all 0.2s ease;
}

.featureButton:hover {
  background-color: #2c6586;
  color: white;
}

.mapColumn {
  flex: 1;
  max-width: 600px;
  margin-left: 30px !important;
  height: 300px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.cardsGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.zigZagButton {
  background: rgba(255, 255, 255, 0.3) !important;
  color: #ffffff;
  padding: 16px 24px !;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  min-width: 200px;
}

.zigZagButton:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.6);
    transform: translateY(-1px);
  cursor: pointer;
}


@media (max-width: 768px) {
  .featuresSection {
    flex-direction: column;
  }

  .mapColumn {
    width: 100%;
    margin-top: 40px;
  }
}
.zigZagRow.reverse .zigZagText {
  padding-right: 40px;
}

.zigZagRow:not(.reverse) .zigZagText {
  padding-left: 40px;
}
