.pageBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-image: url("../../assets/mountain-background.png");
  filter: brightness(1.2) contrast(1.2) saturate(1.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  padding: 0px;
  z-index: -1;
}

.centerContainer {
  pointer-events: none;
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding-left: 5vw;
  max-width: 60vw;
  gap: 2rem;
}

.contentContainer {
  text-align: left;
}

.headerTitle {
  font-size: 3.5rem;
  font-weight: bold;
  color: white;
  line-height: 1.2;
}
.dropdownItem{
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color:#040024
}



.searchInput input {
  width: 300px;
  height: 40px;
  font-size: 1rem;

  margin-left: 25px;
}

.rightsection {
  position: absolute;
  right: 18px;

  display: flex;
  align-items: center;

  padding: 0 8px;
  border-radius: 4px;
}

.right-section i {
  font-size: 20px;
}

.contentSection {
  padding: 100px 5vw;
  z-index: 1;
  position: relative;
}

.resortSectionInside {
  position: absolute;
  bottom: 30px; /* Sau ajustează după gust */
  left: 5vw;
  right: 5vw;
  z-index: 2;
}

.homeSections {
  padding: 60px 5vw;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.01), #f5f7fb);
  display: flex;
  flex-direction: column;
  gap: 80px;
  z-index: 1;
  position: relative;
}

.section {
  background: white;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.sectionTitle {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #1e1e1e;
}