/* installation-table.module.css */
.filterContainer {
  margin-top: 2rem;
}

.slopeTable {
  width: 100%;
  border-collapse: collapse;
  background: rgba(255, 255, 255, 0.40);
  backdrop-filter: blur(20px) saturate(150%);
  -webkit-backdrop-filter: blur(20px) saturate(150%);
  border-radius: 20px;
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  color: #111;
}

.slopeTable th,
.slopeTable td {
  padding: 12px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  color: #133E50;
}

.slopeTable tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

.slopeTable tr:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease;
}
