.buttonText {
    margin-left: 8px; /* Ajustează distanța dorită */
  }
  .item{
    font-size: 12px;
    font-weight: bold;
    color:#040024
  }
  .dropdownScrollable {
  max-height: 250px; /* sau ce dimensiune vrei */
  overflow-y: auto;
}
