.slopeDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-bottom: 1.5rem;
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
}

.slopeDetails p {
  margin: 0;
  font-size: 2rem;
  font-weight: 600;
  color: #133E50;
}

.slopeDetails .actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.slopeDetails button {
  background: none;
  border: none;
  color: white;
  font-size: 1.6rem;
  transition: transform 0.2s ease, color 0.2s ease;
  cursor: pointer;
}

.slopeDetails button:hover {
  transform: scale(1.2);
  color: #133E50;
}
