/* ResortPage.module.css */

.pageBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../assets/mountain-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 filter: brightness(1.2) contrast(1.2) saturate(1.2);
  z-index: -1;
}
.sidebarWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centrează pe verticală */
  height: 100%;
}

.pageLayout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  padding: 6rem 2rem 2rem calc(80px + 2rem); /* 80px lățimea estimată a sidebarului + 2rem spațiu */
  box-sizing: border-box;
}

.mainContent {
  flex: 1;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
  padding: 2rem;
  backdrop-filter: blur(14px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.slopeTable {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slopeTable h2 {
  text-align: center;
  margin-bottom: 20px;
}

.slopeTable table {
  width: 100%;
  border-collapse: collapse;
}

.slopeTable th,
.slopeTable td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.slopeTable th {
  background-color: #f4f4f4;
}

.slopeTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.slopeTable tr:hover {
  background-color: #f1f1f1;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.weatherContainer
{
  display: flex;
  justify-content: center;
}