/* ResortSidebar.module.css */
.sidebar {
  position: fixed;
  top: 100px; /* sub header */
  left: 2rem;
  z-index: 999;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  background: rgba(255, 255, 255, 0.1);
  padding: 1rem;
  border-radius: 16px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.button {
  background: none;
  border: none;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.button:hover {
  transform: scale(1.2);
}
